.panel {
  border: 1px solid #000;
  width: 350px;
  overflow: hidden;
}

/* アニメーション全体の設定 */
.v-enter-active, .v-leave-active {
  transition: opacity 5s;
}

/* アニメーション前後のスタイル */
.v-leave-active {
    position: absolute;
}

.v-enter, .v-leave-to {
  opacity: 0.0;
}