<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Vue.js</title>
</head>
<body>

<div id="app">
  <form>
    <div>お使いのOSは？</div>
    <label for="windows">Windows</label>
    <input type="checkbox" id="windows" value="Windows" v-model="os" />
    <label for="linux">Linux</label>
    <input type="checkbox" id="linux" value="Linux" v-model="os" />  
    <label for="mac">MacOS</label>
    <input type="checkbox" id="mac" value="MacOS" v-model="os" />                   
  </form>
  <div>回答：{{ os }}</div>
</div>

<script src="../lib/vue.js"></script>
<script src="js/model_check_multi.js"></script>
</body>
</html>